# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.dev
.env.test.local
.env.production.local
.env.prod
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/src/openapi/generated-src/
/migrations/20250309220623-init.js
/migrations/20250309221630-auto-migration.js
/migrations/20250309221937-auto-migration.js
/migrations/20250309224805-create_users_table.js
/models/Chats.js
/models/Families.js
/models/Fridges.js
/models/Ingredients.js
/models/init-models.js
/models/Invitations.js
/models/Messages.js
/models/Products.js
/models/Recipes.js
/models/Shelves.js
/models/ShoppingListItems.js
/models/ShoppingLists.js
/models/Users.js
/src/auth/auth.controller.js
/src/auth/auth.module.js
/src/auth/auth.service.js
/src/database/db_data/fridge_database/db.opt
/src/database/db_data/mysql/column_stats.frm
/src/database/db_data/mysql/column_stats.MAD
/src/database/db_data/mysql/column_stats.MAI
/src/database/db_data/mysql/columns_priv.frm
/src/database/db_data/mysql/columns_priv.MAD
/src/database/db_data/mysql/columns_priv.MAI
/src/database/db_data/mysql/db.frm
/src/database/db_data/mysql/db.MAD
/src/database/db_data/mysql/db.MAI
/src/database/db_data/mysql/db.opt
/src/database/db_data/mysql/event.frm
/src/database/db_data/mysql/event.MAD
/src/database/db_data/mysql/event.MAI
/src/database/db_data/mysql/func.frm
/src/database/db_data/mysql/func.MAD
/src/database/db_data/mysql/func.MAI
/src/database/db_data/mysql/general_log.CSM
/src/database/db_data/mysql/general_log.CSV
/src/database/db_data/mysql/general_log.frm
/src/database/db_data/mysql/global_priv.frm
/src/database/db_data/mysql/global_priv.MAD
/src/database/db_data/mysql/global_priv.MAI
/src/database/db_data/mysql/gtid_slave_pos.frm
/src/database/db_data/mysql/gtid_slave_pos.ibd
/src/database/db_data/mysql/help_category.frm
/src/database/db_data/mysql/help_category.MAD
/src/database/db_data/mysql/help_category.MAI
/src/database/db_data/mysql/help_keyword.frm
/src/database/db_data/mysql/help_keyword.MAD
/src/database/db_data/mysql/help_keyword.MAI
/src/database/db_data/mysql/help_relation.frm
/src/database/db_data/mysql/help_relation.MAD
/src/database/db_data/mysql/help_relation.MAI
/src/database/db_data/mysql/help_topic.frm
/src/database/db_data/mysql/help_topic.MAD
/src/database/db_data/mysql/help_topic.MAI
/src/database/db_data/mysql/index_stats.frm
/src/database/db_data/mysql/index_stats.MAD
/src/database/db_data/mysql/index_stats.MAI
/src/database/db_data/mysql/innodb_index_stats.frm
/src/database/db_data/mysql/innodb_index_stats.ibd
/src/database/db_data/mysql/innodb_table_stats.frm
/src/database/db_data/mysql/innodb_table_stats.ibd
/src/database/db_data/mysql/plugin.frm
/src/database/db_data/mysql/plugin.MAD
/src/database/db_data/mysql/plugin.MAI
/src/database/db_data/mysql/proc.frm
/src/database/db_data/mysql/proc.MAD
/src/database/db_data/mysql/proc.MAI
/src/database/db_data/mysql/procs_priv.frm
/src/database/db_data/mysql/procs_priv.MAD
/src/database/db_data/mysql/procs_priv.MAI
/src/database/db_data/mysql/proxies_priv.frm
/src/database/db_data/mysql/proxies_priv.MAD
/src/database/db_data/mysql/proxies_priv.MAI
/src/database/db_data/mysql/roles_mapping.frm
/src/database/db_data/mysql/roles_mapping.MAD
/src/database/db_data/mysql/roles_mapping.MAI
/src/database/db_data/mysql/servers.frm
/src/database/db_data/mysql/servers.MAD
/src/database/db_data/mysql/servers.MAI
/src/database/db_data/mysql/slow_log.CSM
/src/database/db_data/mysql/slow_log.CSV
/src/database/db_data/mysql/slow_log.frm
/src/database/db_data/mysql/table_stats.frm
/src/database/db_data/mysql/table_stats.MAD
/src/database/db_data/mysql/table_stats.MAI
/src/database/db_data/mysql/tables_priv.frm
/src/database/db_data/mysql/tables_priv.MAD
/src/database/db_data/mysql/tables_priv.MAI
/src/database/db_data/mysql/time_zone.frm
/src/database/db_data/mysql/time_zone.MAD
/src/database/db_data/mysql/time_zone.MAI
/src/database/db_data/mysql/time_zone_leap_second.frm
/src/database/db_data/mysql/time_zone_leap_second.MAD
/src/database/db_data/mysql/time_zone_leap_second.MAI
/src/database/db_data/mysql/time_zone_name.frm
/src/database/db_data/mysql/time_zone_name.MAD
/src/database/db_data/mysql/time_zone_name.MAI
/src/database/db_data/mysql/time_zone_transition.frm
/src/database/db_data/mysql/time_zone_transition.MAD
/src/database/db_data/mysql/time_zone_transition.MAI
/src/database/db_data/mysql/time_zone_transition_type.frm
/src/database/db_data/mysql/time_zone_transition_type.MAD
/src/database/db_data/mysql/time_zone_transition_type.MAI
/src/database/db_data/mysql/transaction_registry.frm
/src/database/db_data/mysql/transaction_registry.ibd
/src/database/db_data/mysql/user.frm
/src/database/db_data/performance_schema/db.opt
/src/database/db_data/sys/db.opt
/src/database/db_data/sys/host_summary.frm
/src/database/db_data/sys/host_summary_by_file_io.frm
/src/database/db_data/sys/host_summary_by_file_io_type.frm
/src/database/db_data/sys/host_summary_by_stages.frm
/src/database/db_data/sys/host_summary_by_statement_latency.frm
/src/database/db_data/sys/host_summary_by_statement_type.frm
/src/database/db_data/sys/innodb_buffer_stats_by_schema.frm
/src/database/db_data/sys/innodb_buffer_stats_by_table.frm
/src/database/db_data/sys/innodb_lock_waits.frm
/src/database/db_data/sys/io_by_thread_by_latency.frm
/src/database/db_data/sys/io_global_by_file_by_bytes.frm
/src/database/db_data/sys/io_global_by_file_by_latency.frm
/src/database/db_data/sys/io_global_by_wait_by_bytes.frm
/src/database/db_data/sys/io_global_by_wait_by_latency.frm
/src/database/db_data/sys/latest_file_io.frm
/src/database/db_data/sys/memory_by_host_by_current_bytes.frm
/src/database/db_data/sys/memory_by_thread_by_current_bytes.frm
/src/database/db_data/sys/memory_by_user_by_current_bytes.frm
/src/database/db_data/sys/memory_global_by_current_bytes.frm
/src/database/db_data/sys/memory_global_total.frm
/src/database/db_data/sys/metrics.frm
/src/database/db_data/sys/privileges_by_table_by_level.frm
/src/database/db_data/sys/processlist.frm
/src/database/db_data/sys/ps_check_lost_instrumentation.frm
/src/database/db_data/sys/schema_auto_increment_columns.frm
/src/database/db_data/sys/schema_index_statistics.frm
/src/database/db_data/sys/schema_object_overview.frm
/src/database/db_data/sys/schema_redundant_indexes.frm
/src/database/db_data/sys/schema_table_lock_waits.frm
/src/database/db_data/sys/schema_table_statistics.frm
/src/database/db_data/sys/schema_table_statistics_with_buffer.frm
/src/database/db_data/sys/schema_tables_with_full_table_scans.frm
/src/database/db_data/sys/schema_unused_indexes.frm
/src/database/db_data/sys/session.frm
/src/database/db_data/sys/session_ssl_status.frm
/src/database/db_data/sys/statement_analysis.frm
/src/database/db_data/sys/statements_with_errors_or_warnings.frm
/src/database/db_data/sys/statements_with_full_table_scans.frm
/src/database/db_data/sys/statements_with_runtimes_in_95th_percentile.frm
/src/database/db_data/sys/statements_with_sorting.frm
/src/database/db_data/sys/statements_with_temp_tables.frm
/src/database/db_data/sys/sys_config.frm
/src/database/db_data/sys/sys_config.MAD
/src/database/db_data/sys/sys_config.MAI
/src/database/db_data/sys/user_summary.frm
/src/database/db_data/sys/user_summary_by_file_io.frm
/src/database/db_data/sys/user_summary_by_file_io_type.frm
/src/database/db_data/sys/user_summary_by_stages.frm
/src/database/db_data/sys/user_summary_by_statement_latency.frm
/src/database/db_data/sys/user_summary_by_statement_type.frm
/src/database/db_data/sys/version.frm
/src/database/db_data/sys/wait_classes_global_by_avg_latency.frm
/src/database/db_data/sys/wait_classes_global_by_latency.frm
/src/database/db_data/sys/waits_by_host_by_latency.frm
/src/database/db_data/sys/waits_by_user_by_latency.frm
/src/database/db_data/sys/waits_global_by_latency.frm
/src/database/db_data/sys/x@0024host_summary.frm
/src/database/db_data/sys/x@0024host_summary_by_file_io.frm
/src/database/db_data/sys/x@0024host_summary_by_file_io_type.frm
/src/database/db_data/sys/x@0024host_summary_by_stages.frm
/src/database/db_data/sys/x@0024host_summary_by_statement_latency.frm
/src/database/db_data/sys/x@0024host_summary_by_statement_type.frm
/src/database/db_data/sys/x@0024innodb_buffer_stats_by_schema.frm
/src/database/db_data/sys/x@0024innodb_buffer_stats_by_table.frm
/src/database/db_data/sys/x@0024innodb_lock_waits.frm
/src/database/db_data/sys/x@0024io_by_thread_by_latency.frm
/src/database/db_data/sys/x@0024io_global_by_file_by_bytes.frm
/src/database/db_data/sys/x@0024io_global_by_file_by_latency.frm
/src/database/db_data/sys/x@0024io_global_by_wait_by_bytes.frm
/src/database/db_data/sys/x@0024io_global_by_wait_by_latency.frm
/src/database/db_data/sys/x@0024latest_file_io.frm
/src/database/db_data/sys/x@0024memory_by_host_by_current_bytes.frm
/src/database/db_data/sys/x@0024memory_by_thread_by_current_bytes.frm
/src/database/db_data/sys/x@0024memory_by_user_by_current_bytes.frm
/src/database/db_data/sys/x@0024memory_global_by_current_bytes.frm
/src/database/db_data/sys/x@0024memory_global_total.frm
/src/database/db_data/sys/x@0024processlist.frm
/src/database/db_data/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
/src/database/db_data/sys/x@0024ps_digest_avg_latency_distribution.frm
/src/database/db_data/sys/x@0024ps_schema_table_statistics_io.frm
/src/database/db_data/sys/x@0024schema_flattened_keys.frm
/src/database/db_data/sys/x@0024schema_index_statistics.frm
/src/database/db_data/sys/x@0024schema_table_lock_waits.frm
/src/database/db_data/sys/x@0024schema_table_statistics.frm
/src/database/db_data/sys/x@0024schema_table_statistics_with_buffer.frm
/src/database/db_data/sys/x@0024schema_tables_with_full_table_scans.frm
/src/database/db_data/sys/x@0024session.frm
/src/database/db_data/sys/x@0024statement_analysis.frm
/src/database/db_data/sys/x@0024statements_with_errors_or_warnings.frm
/src/database/db_data/sys/x@0024statements_with_full_table_scans.frm
/src/database/db_data/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
/src/database/db_data/sys/x@0024statements_with_sorting.frm
/src/database/db_data/sys/x@0024statements_with_temp_tables.frm
/src/database/db_data/sys/x@0024user_summary.frm
/src/database/db_data/sys/x@0024user_summary_by_file_io.frm
/src/database/db_data/sys/x@0024user_summary_by_file_io_type.frm
/src/database/db_data/sys/x@0024user_summary_by_stages.frm
/src/database/db_data/sys/x@0024user_summary_by_statement_latency.frm
/src/database/db_data/sys/x@0024user_summary_by_statement_type.frm
/src/database/db_data/sys/x@0024wait_classes_global_by_avg_latency.frm
/src/database/db_data/sys/x@0024wait_classes_global_by_latency.frm
/src/database/db_data/sys/x@0024waits_by_host_by_latency.frm
/src/database/db_data/sys/x@0024waits_by_user_by_latency.frm
/src/database/db_data/sys/x@0024waits_global_by_latency.frm
/src/database/db_data/.my-healthcheck.cnf
/src/database/db_data/aria_log.00000001
/src/database/db_data/aria_log_control
/src/database/db_data/ib_buffer_pool
/src/database/db_data/ib_logfile0
/src/database/db_data/ibdata1
/src/database/db_data/mariadb_upgrade_info
/src/database/db_data/multi-master.info
/src/database/db_data/undo001
/src/database/db_data/undo002
/src/database/db_data/undo003
/src/families/dto/create-family.dto.js
/src/families/dto/invite-user.dto.js
/src/families/dto/update-family.dto.js
/src/families/models/family.model.js
/src/families/families.controller.js
/src/families/families.module.js
/src/families/families.service.js
/src/fridges/dto/create-fridge.dto.js
/src/fridges/dto/update-fridge.dto.js
/src/fridges/models/fridge.model.js
/src/fridges/fridges.controller.js
/src/fridges/fridges.module.js
/src/fridges/fridges.service.js
/src/messages/dto/create-message.dto.js
/src/messages/dto/message-response.dto.js
/src/messages/dto/update-message.dto.js
/src/messages/models/chat.model.js
/src/messages/models/message.model.js
/src/messages/websocket/message.gateway.js
/src/messages/messages.controller.js
/src/messages/messages.module.js
/src/messages/messages.service.js
/src/migrations/20250309215346-init.js
/src/products/dto/create-product.dto.js
/src/products/dto/update-product.dto.js
/src/products/models/product.model.js
/src/products/products.controller.js
/src/products/products.module.js
/src/products/products.service.js
/src/recipes/dto/create-recipe.dto.js
/src/recipes/dto/ingredient.dto.js
/src/recipes/dto/update-recipe.dto.js
/src/recipes/models/ingredient.model.js
/src/recipes/models/recipe.model.js
/src/recipes/recipes.controller.js
/src/recipes/recipes.module.js
/src/recipes/recipes.service.js
/src/shelves/dto/create-shelf.dto.js
/src/shelves/dto/update-shelf.dto.js
/src/shelves/models/shelf.model.js
/src/shelves/shelves.controller.js
/src/shelves/shelves.module.js
/src/shelves/shelves.service.js
/src/shopping-lists/dto/create-shopping-list.dto.js
/src/shopping-lists/dto/shopping-list-item.dto.js
/src/shopping-lists/dto/update-shopping-list.dto.js
/src/shopping-lists/models/shopping-list.model.js
/src/shopping-lists/models/shopping-list-item.model.js
/src/shopping-lists/shopping-lists.controller.js
/src/shopping-lists/shopping-lists.module.js
/src/shopping-lists/shopping-lists.service.js
/src/users/dto/create-user.dto.js
/src/users/dto/login-user.dto.js
/src/users/dto/update-user.dto.js
/src/users/models/user.model.js
/src/users/users.controller.js
/src/users/users.module.js
/src/users/users.service.js
/src/utils/helpers.js
/src/app.controller.js
/src/app.module.js
/src/app.service.js
/src/main.js
/fridge_database.sql
